/* --------------------------------- Add to all CSS files----------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --regal-navy: #0F3375;
    --cobalt-blue: #13459C;
    --laser-blue: #1557C0;
    --sapphire-sky: #196BDE;
    --azure-blue: #2382F7;
    --dodger-blue: #4B9CF9;
    --baby-blue-ice-1: #77B6FB;
    --baby-blue-ice-2: #A4CEFC;
    --pale-sky: #CCE4FD;
    --alice-blue: #E8F3FE;
}

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/* ---------------------------------------------------------------------------------------- */
.first-section {
    margin-top: 215px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    width: 90%;
    padding: 0px 0px 30px 0px;
    text-align: center;
}

.first-section h1 {
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 15px;
}

input {
    width: 100%;
    padding: 5px;
    border-radius: 8px;
}

textarea {
    width: 100%;
    padding: 5px;
    border-radius: 8px;
}

button {
    color: white;
    background-color: var(--azure-blue);
    border: var(--azure-blue) 2px solid;
    border-radius: 8px;
    padding: 5px 50px;
    font-size: large;
}

button:hover {
    color: var(--azure-blue);
    background-color: white;
    transition: 0.3s;
}