/* CSS file for styling common to all pages */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --regal-navy: #0F3375;
    --cobalt-blue: #13459C;
    --laser-blue: #1557C0;
    --sapphire-sky: #196BDE;
    --azure-blue: #2382F7;
    --dodger-blue: #4B9CF9;
    --baby-blue-ice-1: #77B6FB;
    --baby-blue-ice-2: #A4CEFC;
    --pale-sky: #CCE4FD;
    --alice-blue: #E8F3FE;
}

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

body {
    background-color: var(--alice-blue);
    scroll-behavior: smooth;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    position: fixed;
    top: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 185px;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.2);
    z-index: 100;
}

header img {
    width: 150px;
    margin-top: 15px;
}

.header-nav {
    background-color: var(--regal-navy);
    color: white;
    width: 100%;
    padding: 10px;
    border-radius: 0px 0px 8px 8px;
}

.header-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

.header-nav li {
    list-style: none;
}

.header-nav li a {
    color: white;
    text-decoration: none;
}

.burger {
    display: none;
}

/* Soulignement animé */
.underline > a {
    position: relative;
}

.underline > a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background: var(--alice-blue);
    transition: width .3s ease-in-out;
}

.underline:hover > a::after {
    width: 100%;
}

/* Responsive for the navbar -> burger menu */
@media screen and (max-width: 1100px) {
    .header-nav {
        padding: 0;
    }

    .header-nav ul {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        width: 0;
        height: calc(100vh - 185px);
        position: absolute;
        top: 185px;
        right: 0;
        background: var(--regal-navy);
        transform: translateX(110%);
        padding-left: 40px;
        transition: all .5s ease-in-out;
    }

    .show-nav .header-nav ul {
        width: 100vw;
        transform: translateX(0);
    }

    .navbar__link {
        transform: translateX(101%);
        transition: all .5s ease-in-out;
    }

    .show-nav .navbar__link {
        transform: translateX(0);
    }

    .navbar__link > a {
        display: block;
        padding: 1rem;
        font-size: 1.6rem;
        transition: all .4s ease-in-out;
    }

    .navbar__link > a:hover {
        padding-left: 2rem;
        letter-spacing: 3px;
    }

    /* Burger visible */
    .burger {
        display: block;
        position: absolute;
        top: 135px;
        right: 20px;
        width: 45px;
        height: 45px;
        border: none;
        background: transparent;
        cursor: pointer;
        z-index: 200;
    }

    .bar {
        display: block;
        width: 45px;
        height: 4px;
        border-radius: 3px;
        background: var(--regal-navy);
        transition: all .5s ease-in-out;
        position: relative;
    }

    .bar::before,
    .bar::after {
        content: "";
        width: 45px;
        height: 4px;
        position: absolute;
        left: 0;
        background: var(--regal-navy);
        border-radius: 3px;
        transition: all .5s ease-in-out;
    }

    .bar::before {
        transform: translateY(-12px);
    }

    .bar::after {
        transform: translateY(12px);
    }

    /* Animation croix */
    .show-nav .bar {
        background: transparent;
    }

    .show-nav .bar::before {
        transform: rotate(45deg);
    }

    .show-nav .bar::after {
        transform: rotate(-45deg);
    }
}

footer {
    background-color: var(--regal-navy);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    border-radius: 8px 8px 0px 0px;
    padding: 30px 0px;
    box-shadow: 0px 5px 15px 10px rgba(0,0,0,0.2);
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.footer-content a {
    color: white;
}

.footer-content h2 {
    color: var(--baby-blue-ice-2);
    font-size: medium;
}

.footer-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-links a {
    color: white;
    margin-top: 20px;
}

.footer-links::before {
    content: " ";
    width: 90%;
    height: 1px;
    position: absolute; 
    background: var(--baby-blue-ice-2); 
    border-radius: 3px;
    transition: all .5s ease-in-out;
}